@import "tailwindcss";
@import "@heroui/styles";

nav a {
  border-bottom: none !important;
}

.filter-section:hover {
  background-color: #fbfbfb;
  cursor: pointer;
}

/* homepage Slider */
.progress-line {
  height: 1px;
  background-color: #e5e7eb;
  flex-grow: 1;
  margin: 0 2rem;
}
/* Hide scrollbar for a cleaner look */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
/* homepage sliider ends */

/* testimonial */
.testimonial-quote {
  font-style: italic;
  line-height: 1.4;
}
.section-title {
  letter-spacing: -0.02em;
}
/* testimonial */